body {
  background-color: hsl(30, 38%, 92%);
  color: gray;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}

@media (max-width: 400px) {
  .card {
    width: 22rem;
    margin: 3rem auto;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .prodImgMobile {
    display: block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .prodImgDesktop {
    display: none;
  }

  .tag {
    padding: 0.5rem 0 0.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.75rem;
  }

  .productName {
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 100,
      "WONK" 1;
    color: black;
    font-size: 2rem;
  }

  .description {
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 0.9rem;
  }

  .priceSection {
    padding: 0.5rem 0 0.5rem 2rem;
    display: inline-flex;
    gap: 1rem;
  }

  .originalPrice {
    padding: 0.4rem;
    text-decoration: line-through;
    size: 1rem;
  }
  div.currentPrice {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 100,
      "WONK" 1;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
  }

  .addToCartButton {
    height: 40px;
    width: 80%;
    margin: 0.5rem 0 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: hsl(158, 36%, 37%);
    display: inline-block;
    color: white;
    align-items: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
  }
}

/* Desktop view  */
@media (min-width: 401px) {
  .card {
    width: 40rem;
    margin: 10% auto;
    border-radius: 1rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .prodImgMobile {
    display: none;
  }

  .prodImgDesktop {
    display: block;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
  }

  .textSection {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .tag {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.75rem;
  }

  .productName {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 100,
      "WONK" 1;
    color: black;
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .priceSection {
    display: inline-flex;
    gap: 1rem;
  }

  .originalPrice {
    padding: 0.4rem;
    text-decoration: line-through;
    size: 1rem;
  }
  div.currentPrice {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 100,
      "WONK" 1;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
  }

  .addToCartButton {
    height: 50px;
    width: 90%;
    border-radius: 0.5rem;
    border: 0px;
    background-color: hsl(158, 36%, 37%);
    display: inline-block;
    color: white;
    align-items: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
  }

  .addToCartButton:hover {
    background-color: hsl(158, 36%, 25%);
    cursor: pointer;
  }
}
